[submodule "roles/CloudAlchemy/ansible-node-exporter"]
	path = roles/CloudAlchemy/ansible-node-exporter
	url = https://github.com/cloudalchemy/ansible-node-exporter.git
[submodule "roles/CloudAlchemy/ansible-grafana"]
	path = roles/CloudAlchemy/ansible-grafana
	url = https://github.com/cloudalchemy/ansible-grafana.git
[submodule "roles/CloudAlchemy/ansible-prometheus"]
	path = roles/CloudAlchemy/ansible-prometheus
	url = https://github.com/cloudalchemy/ansible-prometheus.git
[submodule "roles/CloudAlchemy/ansible-alertmanager"]
	path = roles/CloudAlchemy/ansible-alertmanager
	url = git@github.com:datenkollektiv-net/ansible-alertmanager.git
[submodule "roles/CloudAlchemy/ansible-pushgateway"]
	path = roles/CloudAlchemy/ansible-pushgateway
	url = https://github.com/cloudalchemy/ansible-pushgateway.git
